@font-face {
	font-family: 'Avengers';
	src: local('Avengers'),
		url(../fonts/AVENGEANCE_HEROIC_AVENGER_BD.ttf) format('truetype');
}
@font-face {
	font-family: 'comic-helvetic';
	src: local('comic-helvetic'),
		url(../fonts/ComicHelvetic_Medium.otf) format('opentype');
}
html {
	font-size: 10px;
}
* {
	box-sizing: border-box;
}
body {
	margin: 0px;
	padding: 0;
	background-color: rgb(220, 216, 216);
}
.header {
	background: rgb(63, 6, 6);
	color: white;
	display: grid;
	grid-template-columns: 3fr 0.3fr 0.3fr;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	font-family: 'comic-helvetic';
}
nav {
	font-size: 2rem;
	cursor: pointer;
	font-family: 'comic-helvetic';
}
.homepage {
	font-family: 'comic-helvetic';
}
small {
	font-size: 1.2rem;
}
.container {
	margin: 0 auto;
	max-width: 1800px;
	padding: 10px;
}
.title {
	font-size: 4.4rem;
	text-align: center;
}
.search-form {
	display: grid;
}
.search-label {
	font-size: 1.2rem;
	text-transform: uppercase;
}
.search-button {
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
	padding: 12px;
	font-size: 20px;
	border: 1px solid rgba(0, 0, 0, 0.75);
	transition: background-color 250ms;
	border-radius: 5px;
	margin-top: 10px;
	cursor: pointer;
}
.search-button:hover {
	background-color: rgba(63, 62, 62, 0.85);
}

.search-box {
	display: block;
	width: 100%;
	padding: 15px;
	border: none;
	outline: none;
	background: none;
	background-color: #eee;
	border-radius: 8px;
	font-size: 20px;
	font-weight: 300;
	transition: 0.4s ease-out;
}
.search-box:focus {
	box-shadow: 0px 0px 8px 3px #4484c4;
}
.comics-list {
	display: block;
}
.tiny-image {
	padding: 5px;
	position: absolute;
}
.results {
	border-radius: 15px !important;
	background-color: rgb(106, 161, 203) !important;
	color: rgb(74, 10, 10) !important;
	font-family: 'comic-helvetic' !important;
	position: relative !important;
	padding: 0.5rem 1rem 4rem 0.5rem !important;
	cursor: pointer !important;
}
.results:hover {
	background-color: rgba(94, 92, 92, 0.85) !important;
	color: rgb(216, 222, 114) !important;
}
.comics-list-span {
	display: inline-flex !important;
	font-size: 14px !important;
	padding-top: 3rem !important;
	padding-right: 1rem !important;
	padding-bottom: 0rem !important;
	padding-left: 10rem !important;
}
.comic-book-info {
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	width: 100vw !important;
	height: 100vw !important;
	overflow-y: scroll !important;
}
.comic-book-info .content {
	display: block !important;
	width: 100% !important;
	max-width: 960px !important;
	margin: 0 auto !important;
	padding: 25px !important;
	color: white !important;
}
.comic-book-info .content .return {
	display: inline-block;
	padding: 15px 30px;
	font-size: 18px;
	font-weight: 700;
	background: darkcyan;
	color: white;
	border-radius: 8px;
	border: none;
	outline: none;
	appearance: none;
	cursor: pointer;
	transition: 0.4s ease-out;
}
.comic-book-info .content .return:hover {
	background: #223343;
}
@media (min-width: 786px) {
	.search-form {
		grid-template-columns: auto 1fr auto;
		grid-gap: 1rem;
		align-items: center;
	}
	.search-input {
		margin-bottom: 0;
	}
	.search-button {
		margin-bottom: 10px;
	}
	.comics-list-span {
		font-size: 18px !important;
	}
}
.navbar-brand {
	background: rgb(63, 6, 6) !important;
	color: white !important;
	font-size: 3rem !important;
	font-family: 'Avengers';
}
.navbar {
	background: rgb(63, 6, 6) !important;
}
.nav-link {
	color: white !important;
}
.comic-box-image {
	width: auto;
	max-width: 100%;
	height: auto;
}
