html {
	font-size: 10px;
}
* {
	box-sizing: border-box;
}
body {
	margin: 0px;
	padding: 0;
	background-color: rgb(220, 216, 216);
}
.header {
	background: rgb(63, 6, 6);
	color: white;
	display: grid;
	grid-template-columns: 3fr 0.3fr 0.3fr;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	font-family: 'comic-helvetic';
}
nav {
	font-size: 2rem;
	cursor: pointer;
	font-family: 'comic-helvetic';
}
.homepage {
	font-family: 'comic-helvetic';
}
small {
	font-size: 1.2rem;
}
.container {
	margin: 0 auto;
	max-width: 1800px;
	padding: 10px;
}
.title {
	font-size: 4.4rem;
	text-align: center;
}
.search-form {
	display: grid;
}
.search-label {
	font-size: 1.2rem;
	text-transform: uppercase;
}
.search-button {
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
	padding: 12px;
	font-size: 20px;
	border: 1px solid rgba(0, 0, 0, 0.75);
	transition: background-color 250ms;
	border-radius: 5px;
	margin-top: 10px;
	cursor: pointer;
}
.search-button:hover {
	background-color: rgba(63, 62, 62, 0.85);
}

.search-box {
	display: block;
	width: 100%;
	padding: 15px;
	border: none;
	outline: none;
	background: none;
	background-color: #eee;
	border-radius: 8px;
	font-size: 20px;
	font-weight: 300;
	transition: 0.4s ease-out;
}
.search-box:focus {
	box-shadow: 0px 0px 8px 3px #4484c4;
}
.comics-list {
	display: block;
}
.tiny-image {
	padding: 5px;
	position: absolute;
}
.cards {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0.3em;
	max-width: 180px;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	font-family: 'comic-helvetic';
}
.card-group {
	display: flex;
	justify-content: center;
	margin: 5px;
}
.cover {
	max-width: 180px;
	padding: 1em;
}
.results {
	border-radius: 15px;
	background-color: rgb(106, 161, 203);
	font-family: 'comic-helvetic';
	position: relative;
	padding: 0.5rem 1rem 4rem 0.5rem;
	cursor: pointer;
}
.results:hover {
	background-color: rgba(94, 92, 92, 0.85);
	color: rgb(216, 222, 114);
}
.comics-list-span {
	display: inline-flex;
	font-size: 14px !important;
	padding-top: 3rem;
	padding-right: 1rem;
	padding-bottom: 0rem;
	padding-left: 10rem;
}
.comic-book-info {
	top: 0;
	left: 0;
	width: 200vw;
	height: 200vw;
	overflow-y: scroll;
}
.comic-book-modal {
	font-family: 'comic-helvetic';
	text-align: center !important;
	display: flex !important;
	margin: auto;
	padding-bottom: 0px;
}

.comic-modal-title {
	margin: auto;
	font-size: 2em !important;
}
.comic-book-info .content {
	display: block;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 25px;
	color: white;
}
.comic-book-info .content .return {
	display: inline-block;
	padding: 15px 30px;
	font-size: 18px;
	font-weight: 700;
	background: darkcyan;
	color: white;
	border-radius: 8px;
	border: none;
	outline: none;
	appearance: none;
	cursor: pointer;
	transition: 0.4s ease-out;
}
.comic-book-info .content .return:hover {
	background: #223343;
}
@media (min-width: 786px) {
	.search-form {
		grid-template-columns: auto 1fr auto;
		grid-gap: 1rem;
		align-items: center;
	}
	.search-input {
		margin-bottom: 0;
	}
	.search-button {
		margin-bottom: 10px;
	}
	.comics-list-span {
		font-size: 18px !important;
	}
}
.navbar-brand {
	background: rgb(63, 6, 6) !important;
	color: white !important;
	font-size: 3rem !important;
	font-family: 'Avengers';
}
.navbar {
	background: rgb(63, 6, 6) !important;
}
.nav-link {
	color: white !important;
}
.comic-box-image {
	width: auto;
	max-width: 100%;
	height: auto;
}
