body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		'Avengers', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
	font-family: 'Avengers';
	src: local('Avengers'),
		url(./fonts/AVENGEANCE_HEROIC_AVENGER_BD.ttf) format('truetype');
}
@font-face {
	font-family: 'comic-helvetic';
	src: local('comic-helvetic'),
		url(./fonts/ComicHelvetic_Medium.otf) format('opentype');
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		'Avengers', monospace;
}
